
#mario {
    width: 100px;
}

#login_mario {
    height: 100px;
}

#join_mario {
    height: 100px;
}

#play_mario {
    height: 100px;
}

#gumba {
    width: 50px;
}

#killer {
    width: 100px;
}

#main {
    background-image: url("bg.jpeg");
    /* border: 1px solid #000; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#mario_block {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
#gumba_block {
    position: absolute;
    display: none;
    right: 10px;
    bottom: 10px;
}
#killer_block {
    display: none;
    position: absolute;
    left: 50px;
    bottom: 10px;
}

.set_scores {
    text-align: center;
    font-size: 20px;
}

.playing_scores {
    text-align: center;
    font-size: 20px;
    margin-top: 200px;
}

#reusltView {
    background-color: #D9EEE1;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    align-items: center;
}

#firstView {
    background-color: #D9EEE1;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    align-items: center;
}

.ranking {
    width: 7%;
}

.input-form {
    max-width: 680px;
    margin-top: 80px;
    padding: 32px;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
}


/* body {
    min-height: 100vh;
    background: -webkit-gradient(linear, left bottom, right top, from(#92b5db), to(#1d466c));
    background: -webkit-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: -moz-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: -o-linear-gradient(bottom left, #92b5db 0%, #1d466c 100%);
    background: linear-gradient(to top right, #92b5db 0%, #1d466c 100%);
} */
